nav{
    background-color: rgb(14, 20, 22);
}
/* e termina com 
ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

li a:hover{
    background-color: rgb(0, 140, 255);
}
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 200vh;
}
nav.menulateral{
    width: 79px;
    height: 100%;
    background-color: #111;
    padding: 40px  0  40px 1%;
    right: 1%;
    box-shadow: 3px 0 0 #ff0000;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    
}
nav.menulateral.expandir{
width: 300px;

}

.expandir{
    width: 100%;
    padding-left: 10px;
}
.expandir >i {
    color: rgb(255, 255, 255);
    font-size: 35px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;

}
ul li.menu{
    transition: .2s;
}


ul li.ativo{
    background-color: rgb(34, 126, 212);
}

ul li.item-menu:HOVER{
    background-color: rgb(34, 126, 212);

}

ul li.item-menu a{
    
    line-height: 40px;
    color: white;
    font-size: 20px;
    padding: 40px 2%;
    display: flex;
    text-decoration: none;
    margin-bottom: 20px;

}
ul li.item-menu a .icon > i{
    font-size: 30px;
    padding-left: 15px;

}
ul li.item-menu a .txt-link {
    margin-left: 30px;
    
}




div .rps{
    text-decoration: none;
    list-style-type: none; 
}
.camiseta{
    display: flex;
    position: absolute;
    left: 20%;
    z-index: 1000%;
    
    mix-blend-mode: multiply;

}




